In [1]:
#Q1) Write a Python program to sum all the items in a list

In [2]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(num)

55

In [3]:
#Q2) Write a Python program to multiplies all the items in a list

In [4]:
import numpy as np
num1 = [2, 4, 6, 8]
np.prod(num1)

384

In [5]:
#Q3) Write a Python program to copy a list.
names = ["Sadaf", "Arsh", "Maryam", "Hermain"]
copy_OF_names = names.copy()
print(names)
print(copy_OF_names)

['Sadaf', 'Arsh', 'Maryam', 'Hermain']
['Sadaf', 'Arsh', 'Maryam', 'Hermain']

In [6]:
#Q4) Write a Python program to remove 1st 3rd and 5th element from a list and 
#return the list

In [7]:
fruits = ["Watermelon", "Mango", "Cherry", "Pineapple", "Lychee", "Apricot"]
del(fruits[1:6:2])
print(fruits)

['Watermelon', 'Cherry', 'Lychee']

In [8]:
#Q5) Write a python program to take index from user and remove that element from list

In [9]:
students = ["Sadaf", "Arsh", "Maryam", "Hermain", "Arqam", "Shadad", "Hasan", "Faisal"]
user_inp = int(input("Write index to remove items from list:  "))
removed_student = students.pop(user_inp)
print("removed_student_name: ", removed_student)
print(students)

Write index to remove items from list:  3
removed_student_name:  Hermain
['Sadaf', 'Arsh', 'Maryam', 'Arqam', 'Shadad', 'Hasan', 'Faisal']

In [10]:
#Q6) Given a Python list. Turn every item of a list into its square

In [11]:
list1 = [2, 3, 4, 5]
sqrdlist = []
for i in list1:   
    sqrdlist.append(i**2)
print("square_list: ", sqrdlist)

square_list:  [4, 9, 16, 25]

In [12]:
#Q7) Given a Python list, find value 20 in the list, and if it is present, 
#replace it with 200.
list_py = [5, 10, 15, 20, 25, 50, 20]
for value in list_py:
    if value == 20:
        index = list_py.index(value)
        list_py[index] = 200
print(list_py)

[5, 10, 15, 200, 25, 50, 200]

In [13]:
#Q8) Given a Python list you should be able to display Python list in the following order

#List1 = ['e', 'a', 'u', 'o', 'i']
#expected output = ['a', 'e', 'i', 'o', 'u']

In [14]:
vowel = ['e', 'a', 'u', 'o', 'i']
vowel.sort()
print(vowel)

['a', 'e', 'i', 'o', 'u']